
html,body{
    height: 100%;
}

body{
    text-align: center;
    color: #f4f6f9;
    font-family: "courier";
}

.background{
    background-color: #c7d3e5;
}

*{
    margin: 0;
    padding: 0;
}


/*Nav Bar*/
nav{
    position: fixed;
    background-color: rgb(217, 222, 169, 0.8);
    opacity 0.5;
    border-radius: 0px 2px 6px 2px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover{
    background-color: rgb(209, 158, 199, 0.7);
}


/* Home Screen Section */
#home{
    top: 0;
    min-height: 76vh;
    padding-top: 24vh;
}

.home-background{
    background-image: url("../static/table.JPG");
    background-position: center center;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-size: cover;
}

#logo{
    width: 85vh;
    height: auto;
}

/*Pieces Section*/
#pieces{
    min-height: 100vh;
    border-bottom-style: solid;
}


/*Showings Section*/
#showings{
    min-height: 100vh;
    min-width: 50vh;
    border-bottom-style: solid;
}

.section-header{
    padding-top: 3vh;
    font-size: 3em;
}

/* About Page  */
#about{
    min-height: 100vh;
    border-bottom-style: solid;
}

#bio-pic{
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

#bio-container{
    width:auto;
    margin:auto;
}

#left{
    width:auto;
    float:left;
    height:65%;
    background-color:white;
    padding: 10vh;
    margin: 10vh 10vh 10vh 30vh;
}

#right{
    width:10%;
    float:right;
    height:65%;
    background-color: rgb(209, 158, 199, 0.9);
    padding: 10vh;
    margin: 10vh 20vh 10vh 10vh;
}

/* Contact */
#contact{
    min-height: 100vh;
}

#submit-button{
}

footer{
    padding-bottom: 3vh;
}