<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/tab-logo.png">
</head>
<body class="background">
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./pieces.html">Pieces</a></li>
            <li><a href="./showings.html">Showings</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>

    <h1>About the Artist</h1>

    <div id="bio-container">
        <div id="left">
            <img id="bio-pic" src="../static/lora-clay.JPG">
        </div>
        <div id="right">
            <h3>Lora Finnerty</h3>
            <p>I first started doing clay at a parent-child class. The rest is history.</p>
        </div>
    </div>
</body>
</html>