<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clay Creations by Lora</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="icon" href="../static/tab-logo.png">
</head>
<body class="background">
    <nav id="nav-bar">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#pieces">Pieces</a></li>
            <li><a href="#showings">Showings</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <div id="home" class="home-background">
        <img id="logo" src="../static/logo-high-rez.png">
    </div>

    <div id="pieces">
        <h1>Pieces</h1>
    </div>

    <div id="showings">
        <h1>Showings</h1>
    </div>

    <div id="about">
        <h1>About the Artist</h1>

        <div id="bio-container">
            <div id="left">
                <img id="bio-pic" src="../static/lora-clay.JPG">
            </div>
            <div id="right">
                <h3>Lora Finnerty</h3>
                <p>I first started doing clay at a parent-child class. The rest is history.</p>
            </div>
        </div>
    </div>

    <div id="contact">
        <h1>Contact</h1>
    </div>

</body>
</html>