<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pieces</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body class="background">
    <nav>
        <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./pieces.html">Pieces</a></li>
            <li><a href="./showings.html">Showings</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>

    <h1>Pieces</h1>
</body>
</html>